 <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Blog Timeline</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Blog</a></li>
                <li class="active">Blog Timeline</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container content"> 
        <ul class="timeline-v1">
            <li>
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'bs-blog.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><%= link_to 'Bootstrap 3 Tips and Tricks You Might Not Know', bsblog_path %></h2>
                        <p>Bootstrap 3 has a ton of features and helpers to speed up front-end development. Sometimes you need something and you end up writing your own custom CSS and JavaScript without even realizing that Bootstrap could have done it for you….</p>
                        
                        <%= link_to 'Read more', bsblog_path, class: 'btn-u btn-u-sm' %>
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 28, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>239</a>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'syntax-highlighting.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><%= link_to 'Get Beautiful Syntax Highlighting For Your Website Code', syntaxHighlighting_path %></h2>
                        <p>For websites like ours, code blocks and pre tags are necessities. Making these code blocks look good and function well is a big part of having your tutorial or example understood and easily digestable by your users. We’ve been asked…</p>
                        <%= link_to 'Read more', syntaxHighlighting_path, class: 'btn-u btn-u-sm' %>
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 16, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">12 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>87</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'nodejs.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><%= link_to 'Build a RESTful API Using Node and Express 4', nodejs_path %></h2>
                        <p>With the release of Express 4.0 just a few days ago, lots of our Node apps will have some changes in how they handle routing. With the changes in the Express Router, we have more flexibility in how we can…</p>
                        
                        <%= link_to 'Read more', nodejs_path, class: 'btn-u btn-u-sm' %>

                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 28, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>239</a>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'restful-api.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><%= link_to 'Designing a RESTful web API', restfulApi_path %></h2>
                        <p>Everybody provides API’s these days. Some of the most popular ones are Facebook, Twitter, Github, Stripe and the list goes on. So you need to build an API for your website, maybe you need to provide data to a mobile app you’re working on, or maybe…</p>

                        <%= link_to 'Read more', restfulApi_path, class: 'btn-u btn-u-sm' %>
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 16, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">12 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>87</a>
                    </div>
                </div>
            </li>
          </ul>
        </div>
