 <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Blog Timeline</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Blog</a></li>
                <li class="active">Blog Timeline</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container content"> 
        <ul class="timeline-v1">
            <li>
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'meta-refresh.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><a href="#">Metarefresh 2014</a></h2>
                        <p>The third edition of Meta Refresh, an annual conference on the construction of the user experience on the web was held at MLR Convention center, Bangalore, India.</p>

                        <p>Organized by Hasgeek, previous editions of the event focused on learning the skills necessary to build experiences which cannot possibly exist in any medium apart from the internet and revisiting the construction of user interfaces for new generation of devices.</p>

                        <%= link_to 'Read more', metarefresh_path, class: 'btn-u btn-u-sm' %>
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 28, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>239</a>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'gamification-for-startups.png', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><a href="#">Gamification for startups</a></h2>
                        <p>Building customer engagement and there by loyalty has always been a challenge for established brands. Startups who are trying to establish themselves, this challenge of user engagement takes a critical role in defining success or failure of their product.</p>

                        <p>Startups use different tactics like social media, mobile, notifications to increase customer engagement, loyalty and there by their chances of success. While all these tactics work, they still do not give an edge to the product as they are all layered over the core product.</p>

                        <p>One of the product strategies which manages customer engagement and loyalty perfectly is Gamification. Gamification or Game Mechanics fundamentally enhances your product to achieve customer adoption, engagement and loyalty.</p>

                        <%= link_to 'Read more', gamification_path, class: 'btn-u btn-u-sm' %>
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 16, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">12 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>87</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'gcrc-2014.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><a href="#">Garden City Ruby Conference 2014</a></h2>
                        <p>The first edition of the Garden City Ruby Conference was held in the beautiful Atria Hotel. We, the Bangalore Icicle Team, were super excited to meet, interact and listen to interesting talks.</p>

                        <p>We had spent the last few evenings coming up with something useful for the attendees. We ended up with Ruby and Rails cheatsheets for Vim and Sublime which were very well received. (A few people wanted Emacs but, they were in the minority. Maybe next time!)</p>
                        
                        <%= link_to 'Read more', gcrc_path, class: 'btn-u btn-u-sm' %>

                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 28, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>239</a>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'mvp.png', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><a href="#">Minimum Viable Product</a></h2>
                        <p>This is truly what you are trying to do as an Entrepreneur or Startup. You have an idea, an idea you think can work, but no one has implemented it yet. At least not in the way you have imagined it. So how do you go about getting this idea into a reality.</p>

                        <p>One option can be a Minimum Viable Product or MVP, which will allow you to crystallize your idea into a product with minimum risk and resources.</p>

                        <%= link_to 'Read more', mvp_path, class: 'btn-u btn-u-sm' %>
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 16, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">12 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>87</a>
                    </div>
                </div>
            </li>
          </ul>
        </div>
