<%= provide(:title, 'MVIT A-Z - Home') %> 

  <!--=== Slider ===-->
  <div class="slider-inner">
    <%= image_tag('new-block-entrance.png') %>
    <!-- <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"> <%# image_tag("ps1.png") %> 

            </div>
            
        </div>
        <div class="da-slide">
            <h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
            <div class="da-img">
                <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
            </div>
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"><%# image_tag 'html5andcss3.png', alt: 'html5andcss3' %></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>        
        </div>
    </div> -->
  </div><!--/slider-->
  <!--=== End Slider ===-->

  <div class="container content"> 
    <div class="row margin-bottom-20">
      <!-- Welcome Block -->
      <div class="col-md-8 md-margin-bottom-40">
        <div class="headline">
          <h2>Welcome To MVIT</h2>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("new.jpg", class: "margin-bottom-20") %>
          </div>
          <div class="col-sm-8">
            <p>Sir M Visvesvaraya Institute of Technology (Sir MVIT) is an Institute of repute in the state of Karnataka (founded by Sri Krishnadevaraya Educational Trust in 1986). The institute offers nine B.E. degree programs in Civil, Mechanical, Electrical & Electronics, Electronics & Communication, Computer Science & Engg., Industrial Engineering & Management, Telecommunication, Information Science and Bio Technology and four Masters Programs in Computer Applications, Business Administration, Computer Integrated Manufacturing and Electronics.</p>
            <ul class="list-unstyled margin-bottom-20">
              <li><i class="fa fa-check color-green"></i> Brilliant Placements</li>
              <li><i class="fa fa-check color-green"></i> Student Friendly Lecturers</li>
              <li><i class="fa fa-check color-green"></i> Encouragement to indulge in extra-curricular activities</li>
              <li><i class="fa fa-check color-green"></i> Proper attention and guidance to each individual student</li>
            </ul>                    
          </div>
        </div>
      </div><!--/col-md-8-->        

      <!-- Latest Shots -->
      <div class="col-md-4 md-margin-bottom-20">
        <div class="headline"><h2>Latest Shots</h2></div>
          <div id="myCarousel" class="carousel slide carousel-v1">
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag("latest-shots-1.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-2.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-3.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-4.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-5.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-6.bmp", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-7.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-8.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-9.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-10.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-11.png", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-12.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-13.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-14.jpg", class: "margin-bottom-20") %>
              </div>
              <div class="item">
                <%= image_tag("latest-shots-15.jpg", class: "margin-bottom-20") %>
              </div>
            </div>
                  
            <div class="carousel-arrow">
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div><!--/col-md-4-->
      </div><!--/row-->   
      <!-- End Info Blokcs -->
    </div>
    <!-- End row-fluid -->

    <div class="one-page">
      <div class="one-page-inner one-blue">
        <div class="container">
          <h1>Ideashare</h1>
          <div class="row">
            <div class="col-md-6">
              <%= image_tag("img1.jpg", class: "margin-bottom-20 img-responsive") %>
            </div>
            <div class="col-md-6">
              <p>An extension to your real life group of friends, interests and communities...
                Idea Share is a great platform for MVIT students to interact,learn and share ideas!
                Ideashare makes it easy for anyone to organize a local group or find one of the thousands already meeting up face-to-face. Among the various groups available, join and participate in varoius events conducted by them.
                 </p>
               
              <p>Create your own groups or join one!</p>
              <p>Ask Learn, Share and Grow!</p>
                        
              <span class= "btn-u btn-u-red one-page-btn home-btn"><i class="fa fa-group"></i><%= link_to 'Explore Groups!', dashboard_path %></span>
            </div>
          </div>
        </div>
      </div>

      <div class="one-page-inner one-grey">
        <div class="container">
          <h1>Online Resources and video lectures</h1>
          <div class="row margin-bottom-40">
            <div class="col-md-6">
           
              
              <p>At MVIT A to Z we have a rich collection of ebooks and videos.This includes the web based publication of the tecnical papers presented by MVIT students as well. Users can browse and select among the wide variety of study materials related to our syllabus and also go through video lectures on many topics.At MVIT A to Z we have a rich collection of ebooks and videos.This includes the web based publication of the tecnical papers presented by MVIT students as well. Users can browse and select among the wide variety of study materials related to our syllabus and also go through video lectures on many topics.</p>
              
              <p>At MVIT A to Z we have a rich collection of ebooks and videos.This includes the web based publication of the tecnical papers presented by MVIT students as well. Users can browse and select among the wide variety of study materials related to our syllabus and also go through video lectures on many topics.</p> 
              
              <span class= "btn-u btn-u-blue one-page-btn home-btn"><i class="fa fa-book"></i><%= link_to 'Ebooks', resources_path %></span>
            </div>
            <div class="col-md-6">
              <%= image_tag("resource.jpg", class: "margin-bottom-20 img-responsive") %> 
            </div>
          </div>
         
          <div class="row">
            <div class="col-md-6">
              <%= image_tag("img1.jpg", class: "margin-bottom-20 img-responsive") %>
            </div>
                   
            <div class="col-md-6">
              <p>Well, apart from just going through books, it really helps a lot to have a few videos at hand to serve as a reference and also to thoroughly understand the concepts at hand.</p>
              
              <p>We are proud to present to you a compiled list of videos related to our prescribed academic curriculum and even more, from various sources such as nptl, mit.edu, coursera, and other online open-sources or freewares.</p>

              <p>Also, We would love it if you can also contribute to our collection by uploading any books or videos which you think can be of great use for the students in the future. You are enriching yours as well as others knowledge with this noble cause. Keep sharing. All the best.  </p>
              
              <span class= "btn-u btn-u-orange one-page-btn home-btn"><i class="fa fa-video-camera"></i><%= link_to 'Online Videos', resources_path %></span>
            </div>
          </div>
        </div>
      </div>

      <div class="one-page-inner one-red">
        <div class="container">
          <h1>Student blogs</h1>
          <div class="row">
            <div class="col-md-6">
            
              <p>At MVIT A to Z we also have some of the student published blogs on various topics ranging from technical to cultural </p>
      
              <p>The beauty of these blogs is that it is written by the students of Sir MVIT, for the students of Sir MVIT. These blogs span over various topics such as technical, academic, cultural, social, etc.</p>

              <p>These features is aimed at bringing out and enhancing the editorial abilities in an individual. Also, it will serve as a wiki for other students and they can refer it to persue their dreams and keep them informed on various grounds. </p>
              
              <span class= "btn-u btn-u-green one-page-btn home-btn"><i class="fa fa-comments-o"></i><%= link_to 'Read Blogs', blog_path %></span>
            </div>
            <div class="col-md-6">
              <%= image_tag("blog.jpg", class: "img-responsive margin-bottom-20") %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  

