    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Blog Item 1</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Blog</a></li>
                <li class="active">Blog Item 1</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">   
      <div class="row blog-page blog-item">
            <!-- Left Sidebar -->
          <div class="col-md-12 md-margin-bottom-60">
                <!--Blog Post-->        
                <div class="blog margin-bottom-40">
                    <h2><a href="blog_item_option1.html">Unify is an incredibly beautiful and fully responsive Bootstrap 3 Template</a></h2>
                    <div class="blog-post-tags">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> February 02, 2013</li>
                            <li><i class="fa fa-pencil"></i> Nehal Kumar</li>
                            <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li>
                        </ul>
                        <ul class="list-unstyled list-inline blog-tags">
                            <li>
                                <i class="fa fa-tags"></i> 
                                <a href="#">Technology</a> 
                                <a href="#">Education</a>
                                <a href="#">Internet</a>
                                <a href="#">Media</a>
                            </li>
                        </ul>                                                
                    </div>
                    <p>This is truly what you are trying to do as an Entrepreneur or Startup. You have an idea, an idea you think can work, but no one has implemented it yet. At least not in the way you have imagined it. So how do you go about getting this idea into a reality.</p>
                    
                    <p>One option can be a Minimum Viable Product or MVP, which will allow you to crystallize your idea into a product with minimum risk and resources.</p>
                    <div class="blog-img">
                        <%= image_tag 'mvp.png', class: "img-responsive" %>
                    </div>
                    <p>A Minimum Viable Product/Service helps you to validate your idea by quickly prototyping and reaching out to the market and core customers. The entire focus of the MVP should be to get the best possible product to the market as soon as possible so that you can start receiving quality feedback from your customers.</p>
                    <p>Before getting into what and why of MVP, Startups need to understand different facets of MVP. A MVP process is not just a product development process, but also best practices Startups need to think about.</p>
                    
                    <h3>Thinking about MVP</h3>

                    <p>Minimum Viable Product is Communication Channel
                        <li>Think of MVP as a communication channel rather than the product. Is your product able explain your early adopters an idea about the core of the product, and the direction of the product?</li>
                    </p>

                    <p>Minimum Viable Product is Organizational Culture
                      <li>Startups are defined by their speed, and success or failure depends on the speed at which Startups respond to market changes. Building Minimum Viable Product process means entire organization culture is built with agility and feedback loops.</li></p>

                    <p>Minimum Viable Product is Business Strategy
                      <li>MVP is an effective business strategy. Startups need not stop using this strategy once the initial product is ready, you can continue using it for any product feature - You ideate, test, get feedback, build and release.</li></p>

                    <p>Minimum Viable Product is Resource Management
                      <li>Startups deal with constraints all the time. Constrains can be in terms of money, time, people, skill, market so on so forth. A culture of MVP helps Startups in managing these resources and still able to produce.</li></p>



                </div>
                <!--End Blog Post-->
                <hr>


                <!-- Recent Comments -->
                <div class="media">
                  <h3>Comments</h3>
                    <a class="pull-left" href="#">
                        <%= image_tag '3.jpg', class: 'media-object' %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Abhishek Kumar <span>5 hours ago / <a href="#">Reply</a></span></h4>
                        <p>Awesome. Very resourceful</p>

                        <hr>

                        <div class="media">
                            <a class="pull-left" href="#">
                              <%= image_tag '5.jpg', class: 'media-object' %>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Sumedha Srivastava <span>17 hours ago / <a href="#">Reply</a></span></h4>
                                <p>Wow. Brilliant</p>
                            </div>
                        </div>

                        <hr>

                        <div class="media">
                            <a class="pull-left" href="#">
                              <%= image_tag '17.jpg', class: 'media-object' %>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nehal Kumar <span>2 days ago / <a href="#">Reply</a></span></h4>
                                <p>Thanks a ton for this motivation.</p>
                            </div>
                        </div>
                    </div>
                </div><!--/media-->

                <div class="media">
                    <a class="pull-left" href="#">
                      <%= image_tag '18.jpg', class: 'media-object' %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Anisha <span>July 5,2013 / <a href="#">Reply</a></span></h4>
                        <p>I like the flow of the article</p>
                    </div>
                </div><!--/media-->
                <!-- End Recent Comments -->

                <hr>

                <!-- Comment Form -->
                <div class="post-comment">
                  <h3>Leave a Comment</h3>
                    <form>
                        <label>Name</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-7 col-md-offset-0">
                                <input type="text" class="form-control">
                            </div>                
                        </div>
                        
                        <label>Email <span class="color-red">*</span></label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-7 col-md-offset-0">
                                <input type="text" class="form-control">
                            </div>                
                        </div>
                        
                        <label>Message</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-11 col-md-offset-0">
                                <textarea class="form-control" rows="8"></textarea>
                            </div>                
                        </div>
                        
                        <p><button class="btn-u" type="submit">Send Message</button></p>
                    </form>
                </div>
                <!-- End Comment Form -->
            </div>
            <!-- End Left Sidebar -->
            </div>
        </div>
    </div>

