<%= provide(:title, 'RESTful Api using Nodejs') %>
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Blog Item 1</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Blog</a></li>
                <li class="active">Blog Item 1</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">   
      <div class="row blog-page blog-item">
            <!-- Left Sidebar -->
          <div class="col-md-12 md-margin-bottom-60">
                <!--Blog Post-->        
                <div class="blog margin-bottom-40">
                    <h2><a href="blog_item_option1.html">Build a RESTful API Using Node and Express 4</a></h2>
                    <div class="blog-post-tags">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> February 02, 2013</li>
                            <li><i class="fa fa-pencil"></i> Nehal Kumar</li>
                            <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li>
                        </ul>
                        <ul class="list-unstyled list-inline blog-tags">
                            <li>
                                <i class="fa fa-tags"></i> 
                                <a href="#">Technology</a> 
                                <a href="#">Education</a>
                                <a href="#">Internet</a>
                                <a href="#">Media</a>
                            </li>
                        </ul>                                                
                    </div>
                    <p>With the release of Express 4.0 just a few days ago, lots of our Node apps will have some changes in how they handle routing. With the changes in the Express Router, we have more flexibility in how we can define the routes for our applications.</p>

                    <p>Today we’ll be looking at creating a RESTful API using Node, Express 4 and its Router, and Mongoose to interact with a MongoDB instance. We will also be testing our API using Postman in Chrome.</p>
                    
                    <p>Let’s look at the API we want to build and what it can do.</p>

                    <div class="blog-img">
                        <%= image_tag 'nodejs.jpg', class: "img-responsive" %>
                    </div>
                    <h3>Our Application</h3>
                    <p>We are going to build an API that will:</p>
                    <p>
                        <ul>
                            <li>Handle CRUD for an item (we’re going to use bears)</li>
                            <li>Have a standard URL (http://example.com/api/bears and http://example.com/api/bears/:bear_id)</li>
                            <li>Use the proper HTTP verbs to make it RESTful (GET, POST, PUT, and DELETE)</li>
                            <li>Return JSON data</li>
                            <li>Log all requests to the console</li>
                        </ul>
                    </p>
                    <p>All of this is pretty standard for RESTful APIs. Feel free to switch out bears for anything that you will want to build for your application (users, superheroes, beers, etc).</p>
                    <p>Make sure you have Node installed and let’s get to it!</p>
                </div>
                <!--End Blog Post-->
                <hr>


                <!-- Recent Comments -->
                <div class="media">
                  <h3>Comments</h3>
                    <a class="pull-left" href="#">
                        <%= image_tag '3.jpg', class: 'media-object' %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Abhishek Kumar <span>5 hours ago / <a href="#">Reply</a></span></h4>
                        <p>Awesome. Very resourceful</p>

                        <hr>

                        <div class="media">
                            <a class="pull-left" href="#">
                              <%= image_tag '5.jpg', class: 'media-object' %>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Sumedha Srivastava <span>17 hours ago / <a href="#">Reply</a></span></h4>
                                <p>Wow. Brilliant</p>
                            </div>
                        </div>

                        <hr>

                        <div class="media">
                            <a class="pull-left" href="#">
                              <%= image_tag '17.jpg', class: 'media-object' %>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nehal Kumar <span>2 days ago / <a href="#">Reply</a></span></h4>
                                <p>Thanks a ton for this motivation.</p>
                            </div>
                        </div>
                    </div>
                </div><!--/media-->

                <div class="media">
                    <a class="pull-left" href="#">
                      <%= image_tag '18.jpg', class: 'media-object' %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Anisha <span>July 5,2013 / <a href="#">Reply</a></span></h4>
                        <p>I like the flow of the article</p>
                    </div>
                </div><!--/media-->
                <!-- End Recent Comments -->

                <hr>

                <!-- Comment Form -->
                <div class="post-comment">
                  <h3>Leave a Comment</h3>
                    <form>
                        <label>Name</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-7 col-md-offset-0">
                                <input type="text" class="form-control">
                            </div>                
                        </div>
                        
                        <label>Email <span class="color-red">*</span></label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-7 col-md-offset-0">
                                <input type="text" class="form-control">
                            </div>                
                        </div>
                        
                        <label>Message</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-11 col-md-offset-0">
                                <textarea class="form-control" rows="8"></textarea>
                            </div>                
                        </div>
                        
                        <p><button class="btn-u" type="submit">Send Message</button></p>
                    </form>
                </div>
                <!-- End Comment Form -->
            </div>
            <!-- End Left Sidebar -->
            </div>
        </div>
    </div>

