    <%= provide(:title, 'Resources') %>
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Resources</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Resources</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
    <div class="container content">
        <ul class="row sorting-grid">
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_3" data-cat="1">
                <a href="https://docs.google.com/file/d/0B3frwUIa4MW1dHRQNld4T3Z1T2c/edit">
                    <img src="https://docs.google.com/file/d/0B3frwUIa4MW1dHRQNld4T3Z1T2c/image?pagenumber=1&w=800" class="img-responsive">
                    <span class="sorting-cover">
                        <span>Books - CSE</span>
                        <p><a href="https://docs.google.com/file/d/0B3frwUIa4MW1dHRQNld4T3Z1T2c/edit">Angular JS</a></p>
                    </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_1" data-cat="3">
                <a href="https://docs.google.com/file/d/0B3frwUIa4MW1WXQzWnJ3NDh4X0E/edit">
                    <img src="https://docs.google.com/file/d/0B3frwUIa4MW1WXQzWnJ3NDh4X0E/image?pagenumber=1&w=800" class="img-responsive">
                    <span class="sorting-cover">
                        <span>Books - CSE</span>
                        <p>Data Compression by David Salomon</p>
                    </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_1" data-cat="2">
                <a href="https://docs.google.com/file/d/0B3frwUIa4MW1bVpEUzQ0VGVhMTg/edit">
                    <img src="https://docs.google.com/file/d/0B3frwUIa4MW1bVpEUzQ0VGVhMTg/image?pagenumber=1&w=800" class="img-responsive"
                    <span class="sorting-cover">
                        <span>Books - CSE</span>
                        <p>Jumping into C++ by Alex Allain</p>
                    </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_4" data-cat="3">
                <a href="https://docs.google.com/file/d/0B3frwUIa4MW1VzhBRFpPa0o2ZDA/edit">
                    <img src="https://docs.google.com/file/d/0B3frwUIa4MW1VzhBRFpPa0o2ZDA/image?pagenumber=1&w=800" class="img-responsive">
                    <span class="sorting-cover">
                        <span>Books - CSE</span>
                        <p>Pro JavaScript with MooTools</p>
                    </span>
                </a>
            </li>
        </ul>
        <ul class="row sorting-grid">
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_1 category_4" data-cat="2">
                <a href="https://docs.google.com/file/d/0B3frwUIa4MW1T1YyMzJMRDIxZGs/edit">
                    <img src="https://docs.google.com/file/d/0B3frwUIa4MW1T1YyMzJMRDIxZGs/image?pagenumber=1&w=800" class="img-responsive">
                    <span class="sorting-cover">
                        <span>Books - CSE</span>
                        <p>Android Application Development</p>
                    </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_4" data-cat="1">
                <a href="https://docs.google.com/file/d/0B3frwUIa4MW1dXNjLTBLZHo0NEE/edit">
                    <img src="https://docs.google.com/file/d/0B3frwUIa4MW1dXNjLTBLZHo0NEE/image?pagenumber=1&w=800" class="img-responsive">
                    <span class="sorting-cover">
                        <span>Books - CSE</span>
                        <p>The Shell Coder's Handbook</p>
                    </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_3  category_4" data-cat="2">
                <a href="https://docs.google.com/file/d/0B3frwUIa4MW1a0c3TmZpZTN2MDg/edit">
                    <%= image_tag("https://docs.google.com/file/d/0B3frwUIa4MW1a0c3TmZpZTN2MDg/image?pagenumber=1&w=800", class: "img-responsive") %>
                    <span class="sorting-cover">
                        <span>Books - CSE</span>
                        <p>Head First Programming</p>
                    </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_2 category_3" data-cat="1">
                <a href="https://docs.google.com/file/d/0B3frwUIa4MW1alRhWWhjbWtwWGM/edit">
                    <%= image_tag("https://docs.google.com/file/d/0B3frwUIa4MW1alRhWWhjbWtwWGM/image?pagenumber=1&w=800", class: "img-responsive") %>
                    <span class="sorting-cover">
                        <span>Books - CSE</span>
                        <p>Functional JavaScript</p>
                    </span>
                </a>
            </li>
        </ul>
        <ul class="row sorting-grid">
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_4 category_2" data-cat="1">
                <a href="https://docs.google.com/file/d/0B3frwUIa4MW1ODBtRlFCSWpEUkU/edit">
                    <%= image_tag("https://docs.google.com/file/d/0B3frwUIa4MW1ODBtRlFCSWpEUkU/image?pagenumber=1&w=800", class: "img-responsive") %>
                    <span class="sorting-cover">
                        <span>Books - CSE</span>
                        <p>Rabbit MQ in Action</p>
                    </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_2" data-cat="3">
                <a href="https://docs.google.com/file/d/0B3frwUIa4MW1VTl5c3dlRE52emM/edit">
                    <%= image_tag("https://docs.google.com/file/d/0B3frwUIa4MW1VTl5c3dlRE52emM/image?pagenumber=1&w=800", class: "img-responsive") %>
                    <span class="sorting-cover">
                        <span>Books - CSE</span>
                        <p>Building Web Applications with Erlang</p>
                    </span>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- End Portfolio Sorting Blocks -->
</div> <!--/container-->     
<!--=== End Content Part ===-->


