 <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Forgot Password</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Forgot Password</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->




    <!--=== Content Part ===-->
    <div class="container content">		
    	<div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
							<%= form_for(resource, class: 'reg-page', as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
							<%= devise_error_messages! %>

									<div class="reg-header">            
                    <h2>Enter email address</h2>
                  </div>

									<div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
  								<!-- <div><%= f.label :email %><br /> -->
  								<%= f.email_field :email, autofocus: true, class: 'form-control pad-20',  placeholder: 'Enter  Username'%>
  							  <!-- </div> -->
									</div>

									<div class="col-md-6 col-md-offset-6">
  									<%= f.submit "Send me reset password instructions", class: 'btn-u pull-right sign-in margin-bottom-20' %>
  								</div>

							<% end %>
				</div>
			</div>
		</div>

<!-- <%= render "devise/shared/links" %> -->
