= nested_form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, class: "col-xs-2"
    = f.text_field :name, class: "col-xs-8"
  .field
    = f.label :description, class: "col-xs-2"
    = f.text_area :description
  .field
    = f.label :start_date, class: "col-md-2"
    = f.date_select :start_date
  .fiel9
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :start_time,class: "col-xs-2"
    = f.time_select :start_time
  .field
    = f.label :end_time,class: "col-xs-2"
    = f.time_select :end_time
  .field
    = f.label :organizer,class: "col-xs-2"
    = f.text_field :organizer
  .field
    = f.label :venue,class: "col-xs-2"
    = f.text_field :venue
  = f.fields_for :event_tags do |et|
    = et.select :tag_id, options_for_select(build_options_for_collection(Tag.all),et.object.tag_id)
    = et.link_to_remove "Remove"
  = f.link_to_add "Add tag", :event_tags
  = f.hidden_field :user_id, :value => current_user.id
  .actions
    = f.submit 'Save'
