<%= provide(:title, @post.title) %>

<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Blog Item 1</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Blog</a></li>
                <li class="active">Blog Item 1</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">   
      <div class="row blog-page blog-item">
            <!-- Left Sidebar -->
          <div class="col-md-12 md-margin-bottom-60">
                <!--Blog Post-->        
                <div class="blog margin-bottom-40">
                    <h2><a href="blog_item_option1.html"><%= @post.title %></a></h2>
                    <div class="blog-post-tags">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i><%= @post.created_at %></li>
                            <li><i class="fa fa-pencil"></i> Nehal Kumar</li>
                            <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li>
                        </ul>
                        <ul class="list-unstyled list-inline blog-tags">
                            <li>
                                <i class="fa fa-tags"></i> 
                                <a href="#">Technology</a> 
                                <a href="#">Education</a>
                                <a href="#">Internet</a>
                                <a href="#">Media</a>
                            </li>
                        </ul>                                                
                    </div>
                    <div class="blog-img">
                        <%= image_tag @post.image_url, class: "img-responsive" %>
                    </div>
                    <p><%= @post.body %></p>
                </div>
          </div>
      </div>

      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Back', posts_path %>

      <div class="media">
        <h2>Comments</h2>
        <div class="media-body">
          <div id="comments">
          	<%= render :partial => @post.comments %>
          </div>
        </div>
      </div>

      <div class="post-comment">
        <%= form_for [@post, Comment.new] do |f| %>
        <p>
        	<%= f.label :body, "New comment" %><br/>
        	<%= f.text_area :body, class: 'margin-bottom-20' %>
        </p>
        <p><%= f.submit "Add comment", class: 'btn-u' %></p>
        <% end %>
      </div>
    </div>