  <h4>Title: </h4>
  <%= @post.title %>
  <h4>Body: </h4>
  <%= @post.body %>
  <h4>Image url: </h4>
  <%= @post.image_url %>

  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Back', posts_path %>

  <h2>Comments</h2>
  <div id="comments">
  	<%= render :partial => @post.comments %>
  </div>

  <%= form_for [@post, Comment.new] do |f| %>
  <p>
  	<%= f.label :body, "New comment" %><br/>
  	<%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add comment" %></p>
  <% end %>