<div class="wrapper"> 
    <!--=== Header ===-->    
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-right">   
                    <li><!-- <a href="page_login.html">Login</a> --><%= link_to 'Login', new_user_session_path %></li>   
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <%= link_to 'MVIT A-Z', home_path, class: 'navbar-brand' %>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li><%= link_to 'Home', home_path %></li>
                        <!-- End Home -->

                        <!-- Pages -->                        
                        <li><%= link_to 'Idea-Share', dashboard_path %></li>
                        <!-- End Pages -->

                        <!-- Features -->
                        <li><%= link_to 'Resources', resources_path %></li>
                        <!-- End Features -->

                        <!-- Portfolio -->
                        <!-- <li><%# link_to 'Dashboard', dashboard_path %><a href="#">Dashboard</a></li> -->
                        <!-- Ens Portfolio -->

                        <!-- Blog -->
                        <li><%= link_to 'Blog', blog_path %></li>
                        <!-- End Blog -->

                        <!-- Contacts -->
                        <li><%= link_to 'Contacts',contacts_path %></li>                    
                        <!-- End Contacts -->

                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
                                </div>
                            </div>    
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->  